*{
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 22px;
}
.navitems{
    color: white;
    text-decoration: none;
}
nav {
    background-color: black;
}
